<app-toolbar></app-toolbar>
<table class="table table-hover table-sm">
    <thead>
        <tr>            
            <th (click)="sort('name')" style="cursor: pointer; text-align: left">Company
                <span *ngIf="sortBy === 'name' && sortOrder === 'desc'" class="fas fa-sort-down"></span>
                <span *ngIf="sortBy === 'name' && sortOrder === 'asc'" class="fas fa-sort-up"></span>
            </th>
            <th class="d-none d-sm-table-cell" (click)="sort('updated')" style="cursor: pointer; text-align: center;">Updated
                <span *ngIf="sortBy === 'updated' && sortOrder === 'desc'" class="fas fa-sort-down"></span>
                <span *ngIf="sortBy === 'updated' && sortOrder === 'asc'" class="fas fa-sort-up"></span>
            </th>
            <th (click)="sort('stockPrice')" style="cursor: pointer; text-align: right;">Stock Price
                <span *ngIf="sortBy === 'stockPrice' && sortOrder === 'desc'" class="fas fa-sort-down"></span>
                <span *ngIf="sortBy === 'stockPrice' && sortOrder === 'asc'" class="fas fa-sort-up"></span>
            </th>
            <th class="d-none d-sm-table-cell" (click)="sort('latsDividend')" style="cursor: pointer; text-align: right;">Dividend
                <span *ngIf="sortBy === 'latsDividend' && sortOrder === 'desc'" class="fas fa-sort-down"></span>
                <span *ngIf="sortBy === 'latsDividend' && sortOrder === 'asc'" class="fas fa-sort-up"></span>
            </th>
            <th (click)="sort('peCurrent')" style="cursor: pointer; text-align: center;">P/E
                <span *ngIf="sortBy === 'peCurrent' && sortOrder === 'desc'" class="fas fa-sort-down"></span>
                <span *ngIf="sortBy === 'peCurrent' && sortOrder === 'asc'" class="fas fa-sort-up"></span>
            </th>
            <th class="d-none d-sm-table-cell" (click)="sort('profitMarginTTM')" style="cursor: pointer; text-align: center;">Profit Margin
                <span *ngIf="sortBy === 'profitMarginTTM' && sortOrder === 'desc'" class="fas fa-sort-down"></span>
                <span *ngIf="sortBy === 'profitMarginTTM' && sortOrder === 'asc'" class="fas fa-sort-up"></span>
            </th>
            <th class="d-none d-sm-table-cell" (click)="sort('roa')" style="cursor: pointer; text-align: center;">ROA
                <span *ngIf="sortBy === 'roa' && sortOrder === 'desc'" class="fas fa-sort-down"></span>
                <span *ngIf="sortBy === 'roa' && sortOrder === 'asc'" class="fas fa-sort-up"></span>
            </th>
            <th class="d-none d-sm-table-cell" (click)="sort('solidity')" style="cursor: pointer; text-align: center;">Solidity
                <span *ngIf="sortBy === 'solidity' && sortOrder === 'desc'" class="fas fa-sort-down"></span>
                <span *ngIf="sortBy === 'solidity' && sortOrder === 'asc'" class="fas fa-sort-up"></span>
            </th>
            <th class="d-none d-sm-table-cell" (click)="sort('investmentGrade')" class="d-none d-sm-block" style="cursor: pointer; text-align: center;">Grade 
                <span *ngIf="sortBy === 'investmentGrade' && sortOrder === 'desc'" class="fas fa-sort-down"></span>
                <span *ngIf="sortBy === 'investmentGrade' && sortOrder === 'asc'" class="fas fa-sort-up"></span>
            </th>
            <th class="d-none d-md-table-cell"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let company of companies" (click)="open(company)" style="cursor: pointer">
            <td>
                {{ company.name }}
            </td>
            <td class="d-none d-sm-table-cell" style="text-align: center;">
                <span *ngIf="company.updated && company.updated.toDate">
                    {{ company.updated.toDate() | date: 'yyyy-MM-dd' }}
                </span>
            </td>
            <td style="text-align: right;">
                {{ company.stockPrice | number:'1.2-2':'sv'}} {{ company.stockPriceCurrency }}
            </td>
            <td class="d-none d-sm-table-cell" style="text-align: right;">
                {{ company.lastDividend | number:'1.2-2':'sv'}} {{ company.stockPriceCurrency }}
            </td>
            <td style="text-align: center;">
                {{ company.peCurrent | number:'1.2-2':'sv'}}
            </td>
            <td class="d-none d-sm-table-cell" style="text-align: center;">
                {{ company.profitMarginTTM | percent:'1.1-1':'sv'}}
            </td>
            <td class="d-none d-sm-table-cell" style="text-align: center;">
                {{ company.roa | percent:'1.1-1':'sv'}}
            </td>
            <td class="d-none d-sm-table-cell" style="text-align: center;">
                {{ company.solidity | percent:'1.1-1':'sv'}}
            </td>
            <td class="d-none d-sm-table-cell" style="text-align: center;">
                {{ company.investmentGrade | number:'1.2-2':'sv'}}
            </td>
            <td class="d-none d-md-table-cell" style="cursor: pointer;">
                <span class="far fa-trash-alt" (click)="confirmDelete(company)"></span>
            </td>
        </tr>
    </tbody>
</table>
    
    
    

