<div class="toolbar">
    <button class="toolbar-item" (click)="save()">
        <span class="far fa-save text-success"></span>
        Save & Close
     </button>
     <button class="toolbar-item" (click)="cancel()">
        <span class="fas fa-times text-danger"></span>
        Cancel
     </button>
</div>
<br>
<div class="form-group row">
    <div class="col" style="max-width: 170px;">New password</div>
    <div class="col" style="max-width: 300px;">
        <input name="password" class="form-control" type="password" [(ngModel)]="password" />
    </div>
</div>
<div class="form-group row">
    <div class="col" style="max-width: 170px;">Confirm password</div>
    <div class="col" style="max-width: 300px;">
        <input name="confirmPassword" class="form-control" type="password" [(ngModel)]="confirmPassword" (keyup.enter)="save()" />
    </div>
</div>

<div class="text-danger">
    {{ message }}
</div>


