<!-- Wrapper -->
<div id="wrapper"  class="d-flex" [ngClass]="{'sidebar-hidden':!layout.state.showSidebar, 'mobile-view':layout.state.mobileView}">
    <!-- Sidebar -->
    <div id="sidebar">
        <div id="sidebar-heading">
            <h4 class="noselect">{{ layout.appName }}</h4>
        </div>
        <div id="sidebar-top">
            <div class="group">
                <ul class="sidebar-list" *ngFor="let section of topSections">                    
                    <li class="sidebar-list-item" (click)="activateSection(section)" [ngClass]="{'active':layout.state.activeSection === section.id}">
                        <span class="icon">
                            <i class="fas fa-chart-line"></i>
                        </span>
                        <span class="noselect">
                            {{ section.name }}
                        </span>
                    </li>
                </ul>
            </div>
        </div>   
        
        <div id="sidebar-bottom">
            <ul class="sidebar-list" *ngFor="let section of bottomSections">
                <li class="sidebar-list-item" (click)="activateSection(section)" [ngClass]="{'active':layout.state.activeSection === section.id }">
                    <span class="icon">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="noselect">
                        {{ section.name }}
                    </span>
                </li>
            </ul>
        </div>
    </div>

   <!-- Tabs -->
    <app-tabs id="tabs"></app-tabs>

    <!-- Page Content -->
    <div id="page-content" (click)="appFocus()">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- Modals -->
<div id="backdrop" [hidden]="!showBackdrop"></div>
<div id="modal-placeholder" #modalPlaceholder></div>

