<div class="toolbar">
     <button class="toolbar-item" (click)="changePassword()">
        <span class="fas fa-key"></span>
        Change password
     </button>
    <button class="toolbar-item" (click)="logout()">
       <span class="fas fa-sign-out-alt"></span>
       Log out
    </button>
</div>
<br>
<div *ngIf="user">
    <div class="form-group row">
        <div class="col-auto">
            <span class="fas fa-user fa-3x"></span>
        </div>
        <div class="col">
            <h6>{{ user.displayName }}</h6>
            <div>{{ user.email }}</div>
        </div>
    </div>
</div>